@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========= ALL FONTS ========= */
/* Flexo */
@font-face {
  font-family: "Flexo";
  src: url("../public/fonts/Flexo-Regular.ttf") format("truetype");
}
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* ========= GLOBAL ========= */
@layer base {
  .App {
    font-family: "Flexo", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
  }
  html {
    box-sizing: border-box;
  }
  body {
    font-family: "Flexo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #424242;
  }
  a {
    font-family: "Roboto", sans-serif;
  }
}
.content-section {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23505050' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
.brand-text {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
